
.project1{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 30%;
    margin: auto;
    text-align: center;
    background-color:  #381c00;
    border: 2px solid #381c00;
}

.project1 img {
    width: 100%;
}

.project1 h2 {
    padding-bottom: 15px;
}

.project2{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 65%;
    margin: auto;
    text-align: center;
    background-color:  #381c00;
    border: 2px solid #381c00;
}

.project3 img {
    width: 100%;
}

.project3 h2 {
    padding-bottom: 15px;
}